<footer role="contentinfo">
    <h5>The best preparation for tomorrow is doing your best today.</h5>
    <p>Copyright &copy; 2014. All rights reserved.</p>
    <p id="footer-logo"><a href="http://milleris.me"><img src="/img/m-black.png" alt="Miller" /></a></p>
</footer>

<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5fbdc06ea5fb07746058c1c3858ee354' type='text/javascript'%3E%3C/script%3E"));
</script>

