<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="MILLER'S PERSONAL SITE." />
        <meta name="author" content="Miller" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />

        <!-- <link rel="shortcut icon" type="image/ico" href="/favicon.ico" /> -->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/screen.css">
        <link rel="stylesheet" href="/css/fonts.css">

        <!-- enable HTML5 elements in IE7+8 -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body class="home blog">

        <div id="wrap">

          {{ content }}

          {% include footer.html %}
        </div>
    </body>
</html>
